/_build/
/cover/
/deps/
/doc/
/erl_crash.dump
*.ez
/featurevisor-*.tar
/featurevisor
/.elixir_ls/
/.lexical/
/.vscode/
/.idea/
/.DS_Store
/.env
/.env.*
!/.env.example
*.pem
*.key
*.p12
*.pfx
*.secret
/.featurevisor/
/example-1/
/monorepo/
